@import 'normalize-scss';
@include normalize();

.App {
  header {
    font-size: 64px;
    text-align: center;
  }
}
svg {
  height: 400px;
  width: 400px;
  background-color: pink;
  margin: auto;
  display: block;

  rect {
    stroke: 1px solid black;
  }

  .color-0 {
    fill: purple;
  }
  .color-1 {
    fill: cyan;
  }
}

.form {
  width: 400px;
  margin: auto;

  label {
    margin-left: 10px;
  }
  input {
    margin: 0px 5px;
  }
  .state-color {
    padding: 3px;
    display: inline-block;
  }
  .color-0 {
    background-color: purple;
  }
  .color-1 {
    background-color: cyan;
  }
}
