@import 'normalize-scss';
@include normalize();

.App {
  header {
    font-size: 64px;
    text-align: center;
  }
}
svg {
  height: 400px;
  width: 400px;
  background-color: #ccc;
  margin: auto;
  display: block;

  rect {
    stroke: 1px solid black;
  }

.color-0 { fill: #1f77b4; }
.color-1 { fill: #ff7f0e; }
.color-2 { fill: #2ca02c; }
.color-3 { fill: #d62728; }
.color-4 { fill: #9467bd; }
.color-5 { fill: #8c564b; }
.color-6 { fill: #e377c2; }
.color-7 { fill: #7f7f7f; }
.color-8 { fill: #bcbd22; }
.color-9 { fill: #17becf; }
}

.form {
  width: 400px;
  margin: auto;

  label {
    margin-left: 10px;
  }
  input {
    margin: 0px 5px;
  }
  .state-color {
    padding: 3px;
    display: inline-block;
  }
.color-0 { background-color: #1f77b4; }
.color-1 { background-color: #ff7f0e; }
.color-2 { background-color: #2ca02c; }
.color-3 { background-color: #d62728; }
.color-4 { background-color: #9467bd; }
.color-5 { background-color: #8c564b; }
.color-6 { background-color: #e377c2; }
.color-7 { background-color: #7f7f7f; }
.color-8 { background-color: #bcbd22; }
.color-9 { background-color: #17becf; }
}

